<ion-buttons>
  <ion-button class="header-menu notification">
    <ion-icon name="notifications-outline" color="dark"></ion-icon>
    <span>&nbsp;</span>
  </ion-button>
  <ion-button class="header-menu">
    <ion-icon name="funnel-outline" color="dark"></ion-icon>
  </ion-button>
  <ion-button class="header-menu" *ngIf="allowSearch">
    <ion-icon name="search-outline" color="dark"></ion-icon>
  </ion-button>
  <ion-button class="header-menu cart" (click)="openCart()">
    <ion-icon name="bag-outline" color="dark"></ion-icon>
    <ion-label class="badge" color="dark">{{ shoppingCartCount | async }}</ion-label>
  </ion-button>
</ion-buttons>
